.box1{
    background: rgb(250, 248, 248);
    width: min-content;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    color: rgb(105, 255, 255);
    font-size: 25px;
}
a {
    display: inline-block;
    margin: 10px;
}
html{
    text-align: center;
}